# Este es el archivo de configuración de Git por usuario.
[user]
	name = Angel Szymczak
	email = angel.szymczak@hotmail.com

[alias]
  st = status
  c = !git add -A && git commit
  unstage=reset HEAD --
  last=log -1 HEAD
  discard=checkout --

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
