# Este es el archivo de configuración de Git por usuario.
[user]
  name = Angel Szymczak
  email = angel.szymczak@hotmail.com

[core]
  editor = nvim
	excludesfile = /Users/angel.szymczak/.gitignore_global
  pager = delta

[init]
	defaultBranch = main

[alias]
  st = status
  c = !git add -A && git commit
  unstage=reset HEAD --
  last=log -1 HEAD
  discard=checkout --

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true # use n and N to move between diff sections
  side-by-side = true

  # Delta detects terminal colors automatically;
  # set one of these to disable auto-detection
  # dark = true
  # light = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default
